{% extends "layout.html" %}
{% block content %}
<div class="content-section">
            <div class="panel panel-success">
                 <div class="panel-heading">
                     <h1>Thanks for using our tool!</h1>
                     <p>A pdf file named analyzation will arrive to your mail<br>
                     This might take a while ( ~20 min )<br>
                     Thanks, see you next time!</p>
                  <p class="text-success"> Thank You for Using Our DNA-STORAGE_TOOL </p>
                  <p class = "text-success"> The Tool need some time to process your results</p>
                  <p class = "text-success"> Your Build Number is : #{{ run_id }}</p>
                  <p class = "text-success"> The results will be sent to your Email within the next 30 minutes </p>


</div>
</div>
    </div>
{% endblock %}