{% extends "layout.html" %}
{% block content %}
<div class="content-section">
            <div class="panel panel-success">
                 <div class="panel-heading">

                  <p class="text-success"> Thank You for Using Our DNA-STORAGE_TOOL </p>
                  <p class = "text-success"> The Tool need some time to process your results</p>
                  <p class = "text-success"> Thank you for your patience</p>
                  <p class = "text-success"> The results will be sent to your Email in the next 30 minutes </p>


</div>
</div>
    </div>
{% endblock %}