{% extends "layout.html" %}
{% block content %}
<h1 id="anchor">Manual</h1>
<h3>This is a manual to explain how to run our DNA STORAGE app:</h3>
<p >First, it is mandatory that you have the following files:</p>
<ol>
    <li>A CSV file containing the design data</li>
    <li>A CSV file containing the after alignment data</li>
    <li>A CSV file containing the after matching data</li>
    <li>A fastq file containing the reads data</li>
</ol>
<h6>IMPORTANT:</h6>
    <p>You must realize that the correctness of your files is your own responsibility!
        <br>Our app will not be able to run efficiently and correctly if there are bugs in the format of your files.
        <br>Please remember to double check them before you run the tool.
    </p>
<br>
<br>
<h2>Steps for Running:</h2>
<ol>
    <a href="#step-1"><li>Go To Tool Page.</li></a>
    <a href="#step-2"><li>Preparing Your Files and Data.</li></a>
    <a href="#step-3"><li>Uploading Data.</li></a>
    <a href="#step-4"><li>After Run.</li></a>
</ol>

<p id="step-1"></p>
<br>
<br>
<br>
<h2>Go To Tool Page:</h2>
<p>Not much to add about this. Just go to the "Tool" page when your done reading this manual.
    <br><br><br>
    <img src="/static/Tool_Bar_Circled.PNG" alt='couldnt find' height="50" border="100">
</p>
<p id="step-2"></p>
<br>
<br>
<br>
<h2>Preparing Your Files and Data:</h2>
<p>You must have the <a href="#anchor">input files</a> ready. Make sure your files are of the correct format.
    An input file that is meant to be CSV cannot be saved as any other format.
    <h6>design file example:</h6>
    <img src="/static/design_example.PNG" alt='couldnt find'>
    <br><br><h6>after alignment file example:</h6>
    <img src="/static/alignment_example.PNG" alt='couldnt find' >
    <br><br><h6>after matching file example:</h6>
    <img src="/static/matching_example.PNG" alt='couldnt find' >
    <br><br><h6>reads file example:</h6>
    <img src="/static/reads_example.PNG" alt='couldnt find'  border="100">
    <br><br>REMEMBER: an email must also be provided in order for the output file to be sent to you. Please make sure you enter a
    valid email address.
</p>
<p id="step-3"></p>
<br>
<br>
<br>
<h2>Uploading Data:</h2>
<p>Upload all files to the correct location on the page. The text next to each "Choose File" box should change to the name of
    your file if file is of the right format
    <br><br><img alt='upload files' src="/static/Uploading_files_BAD_and_GOOD.PNG">
    <h6>NOTE: Since the files are large, this might take some time.</h6>
    <br>Once all input has been uploaded, press the "Run Tool" button!
    <br><img src='/static/mail_and_run_botton.PNG' alt='mail button'>
    <br><br>You should be redirected to the correct post-run page.
    <br>If not, please make sure you followed all steps correctly.
    <h6>Remember: This might take some time (can be up to 20 min).</h6>
    <br><br><img src="/static/after_run.PNG" alt='after run'>
</p>
<p id="step-4"></p>
<br>
<br>
<br>
<h2>After Run:</h2>
<p>An email containing a pdf of your DNA storage analyzation will be sent to the mail given as input.
<br>GOOD LUCK!</p>
<br><br><br><br>

{% endblock %}