{% extends "layout.html" %}
{% block content %}

    {% for post in posts %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Player: {{ post.name }}</a>
              <small class="text-muted"> Date Of Birth: {{ post.date_of_birth }}</small>
                <small class="text-muted">On My Free Time I Like To:{{ post.hobbies }}</small>
            </div>
            <!--<h2><a class="article-title" href="#">{{ post.title }}</a></h2>-->
            <!--<p class="article-content">{{ post.content }}</p>-->
          </div>
        </article>
    {% endfor %}

{% endblock %}