{% extends "layout.html" %}
{% block content %}


<div class="content-section">
    <div class="panel panel-default">
        <h3 class="text-primary">DNA STORAGE TOOL Input :</h3>
        <br/>
        <form method="POST" action="/upload" enctype="multipart/form-data">
             {{ form.csrf_token }}

            <!--# Design File-->
            <div class="form-group">
                {{ form.design.label(class="form-control-label") }}
                {% if form.design.errors %}
                {{ form.design(class="form-control-file form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.design.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.design(class="form-control-file") }}
                {% endif %}
            </div>

            <!--# After Alignment File-->
            <div class="form-group">
                {{ form.after_align.label(class="form-control-label") }}
                {% if form.after_align.errors %}
                {{ form.after_align(class="form-control-file form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.after_align.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.after_align(class="form-control-file") }}
                {% endif %}
            </div>

            <!--# After Matching File-->
            <div class="form-group">
                {{ form.after_matching.label(class="form-control-label") }}
                {% if form.after_matching.errors %}
                {{ form.after_matching(class="form-control-file form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.after_matching.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.after_matching(class="form-control-file") }}
                {% endif %}
            </div>

            <!--# Reads File-->
            <div class="form-group">
                {{ form.reads.label(class="form-control-label") }}
                {% if form.reads.errors %}
                {{ form.reads(class="form-control-file form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.reads.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.reads(class="form-control-file") }}
                {% endif %}
            </div>

            <!--# Analyzers-->
            <div class="form-group">
                {{ form.analysis.label(class="form-check-label", for="analysis") }}
                <br/>
                {% if form.analysis.errors %}
                there were errors in the analysis
                {% for error in form.analysis.errors %}
                    {{ error }}
                {% endfor %}
                    {{ form.analysis(class="form-control form-control-lg is-invalid") }}
                    {% for a in form.analysis %}
                    {{ a(class="form-check form-check-is-invalid") }}
                    {% endfor %}
                        {% for a in form.analysis %}
                            {%  for error in a.errors %}
                                <div class="invalid-feedback">
                                     <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        {% endfor %}
                {% else %}
                    {% for a in form.analysis %}
                        {{ a(class="form-check form-check-inline", checked=1) }}
                        {{ a.label(class="form-check-label form-check-inline" ) }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
            <br/>
            <button type="submit" class="btn btn-outline-primary">Run Tool</button>
            <br/>
        </form>
    </div>
</div>


{% endblock %}